@{
    ViewData["Title"] = "Home Page";
}

<p>
The app will make track recommendations based on criteria you set. The criteria
are based on audio features of tracks. Tracks will be chosen from all playlists
in the category of your chosing. Press start to begin, you will be asked to 
authenticate with Spotify.
</p>
<a asp-area="" asp-controller="User" asp-action="Index">Start</a>
