@{
    ViewData["Title"] = "Home Page";
}

<p>
These are the 10 recommended tracks that beest fit your your criteria:
</p>
@foreach (var track in (IEnumerable<string>)ViewData["Tracks"]) { 
	<iframe src="https://open.spotify.com/embed?uri=spotify:track:@track" frameborder="0" allowtransparency="true"></iframe>
}
<br>
<a asp-area="" asp-controller="User" asp-action="Index">Try Again</a>
