@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
		@foreach (var track in (IEnumerable<string>)ViewData["Tracks"]) { 
			<iframe src="https://open.spotify.com/embed?uri=spotify:track:@track" frameborder="0" allowtransparency="true"></iframe>
		}
    </div>
</div>
